.Container {
    display: flex;
    flex-direction: row;
}

.MobileContainer {
    display: flex;
    flex-direction: column;
}

.Board {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    width: 350px;
    height: 350px;
    margin: 10px
}