.square {
    display: flex;
    align-items: center;
    justify-content: center;
    height:35px;
    width:35px;
    border:1px solid grey;
    background-color: skyblue;
}

#hover {
    background-color: palevioletred;
}

#ship1 {
    background-color: rgb(0, 58, 139);
}

#ship2 {
    background-color: rgb(214, 214, 37);
}

#ship3 {
    background-color: plum;
}

#ship4 {
    background-color: orange;
}

#ship5 {
    background-color: pink;
}

#defaultColor {
    background-color: skyblue;
}

#hit {
    background-color: seagreen;
}

#miss {
    background-color: rgb(230, 98, 98);
}
